## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' 'NAME' 'AFFILIATION' and 'USE_CASE', STATUS'.
application_df = application_df.drop(columns=['EIN', 'NAME', 'AFFILIATION', 'USE_CASE', 'STATUS'])
application_df.head()

,APPLICATION_TYPE,CLASSIFICATION,ORGANIZATION,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,C1000,Association,0,N,5000,1
1,T3,C2000,Co-operative,1-9999,N,108590,1
2,T5,C3000,Association,0,N,5000,0
3,T3,C2000,Trust,10000-24999,N,6692,1
4,T3,C1000,Trust,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
unique_value_counts = application_df.nunique()
print(unique_value_counts)

APPLICATION_TYPE            17
CLASSIFICATION              71
ORGANIZATION                 4
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Print datatypes of each colum
column_data_types = application_df.dtypes
print("Data types of all columns:")
print(column_data_types)

Data types of all columns:
APPLICATION_TYPE          object
CLASSIFICATION            object
ORGANIZATION              object
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

In [5]:
# Look at APPLICATION_TYPE value counts for binning
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()
print(application_type_counts)

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
cutoff_value = 100
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()
application_types_to_replace = application_type_counts[application_type_counts < cutoff_value].index.tolist()

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
Other      120
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df['CLASSIFICATION'].value_counts()
print(classification_counts)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [8]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts = application_df['CLASSIFICATION'].value_counts()
classification_counts_filtered = classification_counts[classification_counts > 1]
print(classification_counts_filtered)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [9]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
cutoff_value = 100
classification_counts = application_df['CLASSIFICATION'].value_counts()
classifications_to_replace = classification_counts[classification_counts < cutoff_value].index.tolist()

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: CLASSIFICATION, dtype: int64

In [10]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df_encoded = pd.get_dummies(application_df, columns=['APPLICATION_TYPE', 'CLASSIFICATION', 'ORGANIZATION', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS'])
application_df_encoded.head()

,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,5000,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,108590,1,0,0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,5000,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
3,6692,1,0,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,142590,1,0,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [11]:
# Split our preprocessed data into our features and target arrays
target = application_df_encoded['IS_SUCCESSFUL']
features = application_df_encoded.drop(columns=['IS_SUCCESSFUL'])
print("Target Shape:", target.shape)
print("Features Shape:", features.shape)

Target Shape: (34299,)
Features Shape: (34299, 38)

In [12]:
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(features, target, test_size=0.2, random_state=42)
print("X_train Shape:", X_train.shape)
print("X_test Shape:", X_test.shape)
print("y_train Shape:", y_train.shape)
print("y_test Shape:", y_test.shape)

X_train Shape: (27439, 38)
X_test Shape: (6860, 38)
y_train Shape: (27439,)
y_test Shape: (6860,)

In [13]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler on the training data
X_scaler = scaler.fit(X_train)

# Scale the training and testing data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [18]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train.columns)
hidden_nodes_layer1 =  8
hidden_nodes_layer2 = 5

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 8)                 312

 dense_4 (Dense)             (None, 5)                 45

 dense_5 (Dense)             (None, 1)                 6

=================================================================
Total params: 363 (1.42 KB)
Trainable params: 363 (1.42 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [19]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [20]:
# Check the number of features in your training data
print(X_train_scaled.shape[1])

38

In [21]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
858/858 [==============================] - 1s 817us/step - loss: 0.6427 - accuracy: 0.6330
Epoch 2/100
858/858 [==============================] - 1s 790us/step - loss: 0.6177 - accuracy: 0.6509
Epoch 3/100
858/858 [==============================] - 1s 774us/step - loss: 0.6147 - accuracy: 0.6513
Epoch 4/100
858/858 [==============================] - 1s 814us/step - loss: 0.6133 - accuracy: 0.6527
Epoch 5/100
858/858 [==============================] - 1s 818us/step - loss: 0.6126 - accuracy: 0.6507
Epoch 6/100
858/858 [==============================] - 1s 802us/step - loss: 0.6121 - accuracy: 0.6525
Epoch 7/100
858/858 [==============================] - 1s 802us/step - loss: 0.6113 - accuracy: 0.6530
Epoch 8/100
858/858 [==============================] - 1s 791us/step - loss: 0.6110 - accuracy: 0.6527
Epoch 9/100
858/858 [==============================] - 1s 802us/step - loss: 0.6108 - accuracy: 0.6514
Epoch 10/100
858/858 [==============================] - 1s 799us/step - loss: 0.6103 - accuracy: 0.6525
Epoch 11/100
858/858 [==============================] - 1s 798us/step - loss: 0.6098 - accuracy: 0.6531
Epoch 12/100
858/858 [==============================] - 1s 800us/step - loss: 0.6100 - accuracy: 0.6532
Epoch 13/100
858/858 [==============================] - 1s 813us/step - loss: 0.6096 - accuracy: 0.6525
Epoch 14/100
858/858 [==============================] - 1s 782us/step - loss: 0.6095 - accuracy: 0.6528
Epoch 15/100
858/858 [==============================] - 1s 796us/step - loss: 0.6094 - accuracy: 0.6536
Epoch 16/100
858/858 [==============================] - 1s 819us/step - loss: 0.6090 - accuracy: 0.6539
Epoch 17/100
858/858 [==============================] - 1s 793us/step - loss: 0.6090 - accuracy: 0.6531
Epoch 18/100
858/858 [==============================] - 1s 823us/step - loss: 0.6090 - accuracy: 0.6529
Epoch 19/100
858/858 [==============================] - 1s 799us/step - loss: 0.6089 - accuracy: 0.6539
Epoch 20/100
858/858 [==============================] - 1s 797us/step - loss: 0.6087 - accuracy: 0.6539
Epoch 21/100
858/858 [==============================] - 1s 798us/step - loss: 0.6085 - accuracy: 0.6531
Epoch 22/100
858/858 [==============================] - 1s 784us/step - loss: 0.6084 - accuracy: 0.6544
Epoch 23/100
858/858 [==============================] - 1s 798us/step - loss: 0.6082 - accuracy: 0.6544
Epoch 24/100
858/858 [==============================] - 1s 816us/step - loss: 0.6085 - accuracy: 0.6541
Epoch 25/100
858/858 [==============================] - 1s 800us/step - loss: 0.6082 - accuracy: 0.6538
Epoch 26/100
858/858 [==============================] - 1s 798us/step - loss: 0.6081 - accuracy: 0.6540
Epoch 27/100
858/858 [==============================] - 1s 808us/step - loss: 0.6081 - accuracy: 0.6538
Epoch 28/100
858/858 [==============================] - 1s 804us/step - loss: 0.6081 - accuracy: 0.6543
Epoch 29/100
858/858 [==============================] - 1s 775us/step - loss: 0.6081 - accuracy: 0.6528
Epoch 30/100
858/858 [==============================] - 1s 800us/step - loss: 0.6079 - accuracy: 0.6542
Epoch 31/100
858/858 [==============================] - 1s 818us/step - loss: 0.6079 - accuracy: 0.6528
Epoch 32/100
858/858 [==============================] - 1s 815us/step - loss: 0.6078 - accuracy: 0.6546
Epoch 33/100
858/858 [==============================] - 1s 779us/step - loss: 0.6076 - accuracy: 0.6534
Epoch 34/100
858/858 [==============================] - 1s 781us/step - loss: 0.6077 - accuracy: 0.6546
Epoch 35/100
858/858 [==============================] - 1s 780us/step - loss: 0.6077 - accuracy: 0.6540
Epoch 36/100
858/858 [==============================] - 1s 810us/step - loss: 0.6076 - accuracy: 0.6529
Epoch 37/100
858/858 [==============================] - 1s 795us/step - loss: 0.6074 - accuracy: 0.6547
Epoch 38/100
858/858 [==============================] - 1s 799us/step - loss: 0.6073 - accuracy: 0.6541
Epoch 39/100
858/858 [==============================] - 1s 799us/step - loss: 0.6074 - accuracy: 0.6543
Epoch 40/100
858/858 [==============================] - 1s 826us/step - loss: 0.6071 - accuracy: 0.6550
Epoch 41/100
858/858 [==============================] - 1s 795us/step - loss: 0.6074 - accuracy: 0.6547
Epoch 42/100
858/858 [==============================] - 1s 806us/step - loss: 0.6073 - accuracy: 0.6537
Epoch 43/100
858/858 [==============================] - 1s 795us/step - loss: 0.6073 - accuracy: 0.6530
Epoch 44/100
858/858 [==============================] - 1s 798us/step - loss: 0.6073 - accuracy: 0.6539
Epoch 45/100
858/858 [==============================] - 1s 799us/step - loss: 0.6071 - accuracy: 0.6555
Epoch 46/100
858/858 [==============================] - 1s 797us/step - loss: 0.6071 - accuracy: 0.6534
Epoch 47/100
858/858 [==============================] - 1s 796us/step - loss: 0.6072 - accuracy: 0.6543
Epoch 48/100
858/858 [==============================] - 1s 805us/step - loss: 0.6071 - accuracy: 0.6541
Epoch 49/100
858/858 [==============================] - 1s 803us/step - loss: 0.6072 - accuracy: 0.6546
Epoch 50/100
858/858 [==============================] - 1s 793us/step - loss: 0.6068 - accuracy: 0.6548
Epoch 51/100
858/858 [==============================] - 1s 798us/step - loss: 0.6068 - accuracy: 0.6547
Epoch 52/100
858/858 [==============================] - 1s 796us/step - loss: 0.6070 - accuracy: 0.6557
Epoch 53/100
858/858 [==============================] - 1s 796us/step - loss: 0.6069 - accuracy: 0.6536
Epoch 54/100
858/858 [==============================] - 1s 793us/step - loss: 0.6067 - accuracy: 0.6549
Epoch 55/100
858/858 [==============================] - 1s 795us/step - loss: 0.6068 - accuracy: 0.6544
Epoch 56/100
858/858 [==============================] - 1s 796us/step - loss: 0.6066 - accuracy: 0.6540
Epoch 57/100
858/858 [==============================] - 1s 804us/step - loss: 0.6069 - accuracy: 0.6549
Epoch 58/100
858/858 [==============================] - 1s 782us/step - loss: 0.6068 - accuracy: 0.6554
Epoch 59/100
858/858 [==============================] - 1s 812us/step - loss: 0.6067 - accuracy: 0.6546
Epoch 60/100
858/858 [==============================] - 1s 800us/step - loss: 0.6068 - accuracy: 0.6541
Epoch 61/100
858/858 [==============================] - 1s 796us/step - loss: 0.6066 - accuracy: 0.6540
Epoch 62/100
858/858 [==============================] - 1s 812us/step - loss: 0.6064 - accuracy: 0.6546
Epoch 63/100
858/858 [==============================] - 1s 802us/step - loss: 0.6067 - accuracy: 0.6539
Epoch 64/100
858/858 [==============================] - 1s 813us/step - loss: 0.6066 - accuracy: 0.6552
Epoch 65/100
858/858 [==============================] - 1s 806us/step - loss: 0.6066 - accuracy: 0.6543
Epoch 66/100
858/858 [==============================] - 1s 797us/step - loss: 0.6065 - accuracy: 0.6557
Epoch 67/100
858/858 [==============================] - 1s 799us/step - loss: 0.6066 - accuracy: 0.6552
Epoch 68/100
858/858 [==============================] - 1s 796us/step - loss: 0.6066 - accuracy: 0.6546
Epoch 69/100
858/858 [==============================] - 1s 797us/step - loss: 0.6062 - accuracy: 0.6547
Epoch 70/100
858/858 [==============================] - 1s 797us/step - loss: 0.6063 - accuracy: 0.6545
Epoch 71/100
858/858 [==============================] - 1s 803us/step - loss: 0.6066 - accuracy: 0.6544
Epoch 72/100
858/858 [==============================] - 1s 804us/step - loss: 0.6064 - accuracy: 0.6544
Epoch 73/100
858/858 [==============================] - 1s 804us/step - loss: 0.6067 - accuracy: 0.6553
Epoch 74/100
858/858 [==============================] - 1s 813us/step - loss: 0.6064 - accuracy: 0.6549
Epoch 75/100
858/858 [==============================] - 1s 814us/step - loss: 0.6063 - accuracy: 0.6550
Epoch 76/100
858/858 [==============================] - 1s 816us/step - loss: 0.6064 - accuracy: 0.6551
Epoch 77/100
858/858 [==============================] - 1s 798us/step - loss: 0.6063 - accuracy: 0.6550
Epoch 78/100
858/858 [==============================] - 1s 818us/step - loss: 0.6065 - accuracy: 0.6549
Epoch 79/100

858/858 [==============================] - 1s 800us/step - loss: 0.6064 - accuracy: 0.6553
Epoch 80/100
858/858 [==============================] - 1s 798us/step - loss: 0.6064 - accuracy: 0.6548
Epoch 81/100
858/858 [==============================] - 1s 823us/step - loss: 0.6063 - accuracy: 0.6544
Epoch 82/100
858/858 [==============================] - 1s 789us/step - loss: 0.6063 - accuracy: 0.6544
Epoch 83/100
858/858 [==============================] - 1s 799us/step - loss: 0.6065 - accuracy: 0.6548
Epoch 84/100
858/858 [==============================] - 1s 797us/step - loss: 0.6064 - accuracy: 0.6545
Epoch 85/100
858/858 [==============================] - 1s 795us/step - loss: 0.6065 - accuracy: 0.6551
Epoch 86/100
858/858 [==============================] - 1s 798us/step - loss: 0.6064 - accuracy: 0.6553
Epoch 87/100
858/858 [==============================] - 1s 798us/step - loss: 0.6062 - accuracy: 0.6556
Epoch 88/100
858/858 [==============================] - 1s 804us/step - loss: 0.6064 - accuracy: 0.6559
Epoch 89/100
858/858 [==============================] - 1s 791us/step - loss: 0.6064 - accuracy: 0.6553
Epoch 90/100
858/858 [==============================] - 1s 816us/step - loss: 0.6061 - accuracy: 0.6540
Epoch 91/100
858/858 [==============================] - 1s 795us/step - loss: 0.6063 - accuracy: 0.6547
Epoch 92/100
858/858 [==============================] - 1s 797us/step - loss: 0.6062 - accuracy: 0.6559
Epoch 93/100
858/858 [==============================] - 1s 797us/step - loss: 0.6062 - accuracy: 0.6553
Epoch 94/100
858/858 [==============================] - 1s 798us/step - loss: 0.6063 - accuracy: 0.6547
Epoch 95/100
858/858 [==============================] - 1s 797us/step - loss: 0.6061 - accuracy: 0.6539
Epoch 96/100
858/858 [==============================] - 1s 796us/step - loss: 0.6063 - accuracy: 0.6548
Epoch 97/100
858/858 [==============================] - 1s 802us/step - loss: 0.6064 - accuracy: 0.6538
Epoch 98/100
858/858 [==============================] - 1s 782us/step - loss: 0.6061 - accuracy: 0.6550
Epoch 99/100
858/858 [==============================] - 1s 780us/step - loss: 0.6062 - accuracy: 0.6553
Epoch 100/100
858/858 [==============================] - 1s 800us/step - loss: 0.6061 - accuracy: 0.6551

In [22]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

215/215 - 0s - loss: 0.6176 - accuracy: 0.6436 - 251ms/epoch - 1ms/step
Loss: 0.6175633072853088, Accuracy: 0.6435859799385071

In [23]:
# Export our model to HDF5 file
model_filename = "AlphabetSoupCharity_Optimization_2ndattempt.h5"
nn.save(model_filename)

C:\Users\yvedu\anaconda3\envs\dev\lib\site-packages\keras\src\engine\training.py:3079: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(